*{
    margin: 5px;
}

#header{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

#body1, #body2 {
    display: none; 
}


#body1 {
    display: block;
}
button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
}

#main, #main2{
    display: flex;
}

#valorTotal{
    width: 50%;
    height: 250px;
    background-color: rgb(60, 255, 0);

}

#estoque{
    width: 50%;
    height: 250px;
    background-color: rgb(208, 255, 0);
}
       
#entradas{
    width: 33%;
    height: 250px;
    background-color: rgb(25, 0, 255);
}
        
#saidas{
    width: 33%;
    height: 250px;
    background-color: rgb(255, 174, 0);
}
      
#limiteCritico{
    width: 33%;
    height: 250px;
    background-color: red;
}
       
#tabelaCritico{
    width: 100%;
    height: 250px;
    background-color: rgb(80, 54, 54);
}







#mainBody2{
    display: flex;
}

#cadastro{
    width: 33%;
    height: 250px;
    background-color: rgb(255, 174, 0);
}
#entrada{
    width: 33%;
    height: 250px;
    background-color: rgb(255, 174, 0);
}

#saida{
    width: 33%;
    height: 250px;
    background-color: rgb(255, 174, 0);
}

#colunas{
    width: 100%;
    height: 250px;
    background-color: rgb(255, 174, 0);
}