*{
    margin: 5px;
}
#main{
    width: 100%;
    height: 100%;
}

#valorTotal{
    width: 250px;
    height: 250px;
    background-color: rgb(60, 255, 0);
}

#estoque{
    width: 250px;
    height: 250px;
    background-color: rgb(208, 255, 0);
}
       
#entradas{
    width: 250px;
    height: 250px;
    background-color: rgb(25, 0, 255);
}
        
#saidas{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 174, 0);
}
      
#limiteCritico{
    width: 250px;
    height: 250px;
    background-color: red;
}
       
#tabelaCritico{
    width: 250px;
    height: 250px;
    background-color: rgb(80, 54, 54);
}